.element {
  display: inline-grid;
  background: none;
  border: 0;
  transition: transform var(--one-part-second);
  padding: var(--spacer);
  cursor: pointer;
  line-height: 1;
  text-align: center;
}

.element:active {
  transform: scale3d(.95, .95, .95);
}

.element:disabled {
  opacity: 0.5;
}

.elementWithBg {
  border-radius: var(--spacer-half);
  background: var(--dark);
  background: linear-gradient(to right, transparent, var(--dark), transparent) no-repeat;
  margin: 0 var(--spacer-half);
  padding: .8rem;
  border: 1px solid var(--light);
  margin: 0 var(--spacer-half);
}
