.element {
  display: inline-grid;
  background: none;
  border: 0;
  transition: transform var(--one-part-second);
  padding: var(--measure);
  cursor: pointer;
  text-align: center;
  line-height: var(--measure-one-n-half);
}

.element:active {
  transform: scale3d(.95, .95, .95);
}

@media (prefers-reduced-motion: reduce) {
  .element {
    transition: unset;
  }
}

.element:disabled {
  opacity: 0.5;
}

.elementWithBg {
  border-radius: var(--measure-half);
  background: var(--dark);
  background: linear-gradient(to right, transparent, var(--dark), transparent) no-repeat;
  margin: 0 var(--measure-half);
  padding: var(--measure-eighth-part);
  border: 1px solid var(--light);
}
