:root {
  --dark: #02032a;
  --light: #fff;
  --accent: #f20c43;
  --measure: 0.8rem;
  --measure-half: calc(var(--measure) / 2);
  --measure-one-n-half: calc(var(--measure) * 1.5);
  --measure-two-n-half: calc(var(--measure) * 2.5);
  --measure-double: calc(var(--measure) * 2);
  --measure-triple: calc(var(--measure) * 3);
  --measure-times-five: calc(var(--measure) * 5);
  --measure-times-six: calc(var(--measure) * 6);
  --second: 1s;
  --one-part-second: calc(var(--second) / 10);
  --one-third-second: calc(var(--one-part-second) * 3);
  --half-second: calc(var(--second) / 2);
  --font-size: 16px;
  --grid-item-size: 1fr;
  --letter-spacing: 0.1rem;
  --line-height: 1.4;
  --bg-gradient: linear-gradient(-190deg, var(--dark) 70%, var(--accent))
    no-repeat;
  --gradient: linear-gradient(to right, transparent, var(--dark), transparent)
    no-repeat;
  --min-width: 350px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  word-break: break-word;
}

body {
  background: var(--dark);
  background: var(--bg-gradient);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light);
  font-size: var(--font-size);
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  min-width: var(--min-width);
}

@media (max-width: 480px) {
  body {
    background-image: url("/img/bg-mobile.webp");
  }
}

@media (min-width: 481px) {
  body {
    background-image: url("/img/bg-desktop.webp");
  }
}

h1 {
  font-size: var(--measure-two-n-half);
  line-height: 1;
  padding-bottom: var(--measure-half);
}

a {
  text-decoration: none;
}

p {
  padding-bottom: var(--measure-half);
}

p:last-child {
  padding: 0;
}

mark {
  background: var(--gradient);
}

.mb-2vw {
  margin-bottom: 2vw;
}

@media (min-width: 1024px) {
  h1 {
    font-size: var(--measure-times-five);
  }

  mark {
    font-size: var(--measure-one-n-half);
  }
}

@media (min-width: 2000px) {
  :root {
    --measure: 1.4vw;
    --font-size: 1.4vw;
  }

  h1 {
    font-size: 4.4vw;
  }
}
