:root {
  --white: #E2E2E2;
  --light: #247ba0;
  --dark: #0A2463;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--dark);
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  max-width: 650px;
  height: 100vh;
  margin: 0 auto;
}

.grid-item {
  padding: 1.2rem;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

a {
  color: var(--white);
  text-decoration: none;
  border-bottom: 2px solid var(--light);
  word-break: break-word;
}

a:active {
  border-color: var(--white);
}
