.container {
  display: grid;
  grid-template-rows: auto var(--grid-item-size) auto;
  grid-template-areas:
    "header"
    "main";
  place-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to right bottom, var(--dark), transparent) no-repeat;
}

.header,
.main,
.footer {
  display: grid;
  place-self: center;
  width: 100vw;
}

.header {
  grid-area: header;
}

.banner {
  background: var(--dark);
  padding: 0;
}

.main {
  grid-area: main;
  padding-bottom: var(--measure-times-six);
}

.footer {
  padding: var(--measure-double);
  background: var(--dark);
  background: linear-gradient(to top, var(--dark), transparent);
}
