.container {
  display: grid;
  grid-template-rows: auto var(--grid-item-size) auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  place-content: center;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, var(--dark), transparent)
    no-repeat;
  text-align: center;
}

.header,
.main,
.footer {
  display: grid;
  place-self: center;
  width: 100vw;
  min-width: var(--min-width);
}

.header {
  grid-area: header;
}

.banner {
  background: var(--dark);
  padding: 0;
}

.main {
  grid-area: main;
  padding: var(--measure);
  padding-bottom: var(--measure-double);
}

.footer {
  grid-area: footer;
  padding: var(--measure-double) var(--measure);
  background: var(--dark);
  background: linear-gradient(to top, var(--dark), transparent);
}

@media (min-width: 1024px) {
  .main {
    padding-bottom: var(--measure-times-six);
  }

  .main,
  .footer {
    padding-left: var(--measure-double);
    padding-right: var(--measure-double);
  }
}
