.container {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  background: var(--dark) url('/img/acid-bg.png') center no-repeat;
  color: var(--light);
  padding: 0 var(--spacer);
  width: 300px;
  border-radius: var(--spacer) 0 0 var(--spacer);
}

.header {
  padding: var(--spacer-double) 0;
}

.list {
  list-style: none;
}

.item {
  padding: var(--spacer);
  display: block;
  margin-bottom: var(--spacer);
}

.enter {
  transform: translate3d(100vw, 0, 0);
}

.enterActive {
  transform: translate3d(0, 0, 0);
  transition: transform var(--one-third-second);
}

.enterDone {
  transform: translate3d(0, 0, 0);
}

.exit {
  transform: translate3d(0, 0, 0);
}

.exitActive {
  transform: translate3d(100vw, 0, 0);
  transition: transform var(--one-third-second);
}
