.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark);
  background: linear-gradient(190deg, var(--dark) 60%, var(--accent));
  color: var(--light);
  padding: var(--spacer);
  min-width: 20vw;
}

.header {
  padding-bottom: var(--spacer-double);
  text-align: right;
}

.list {
  list-style: none;
  text-align: center;
}

.item {
  padding: var(--spacer);
  display: inline-block;
  margin-bottom: var(--spacer);
}

.enter {
  opacity: 0;
  transform: scale3d(3, 3, 3);
}

.enterActive {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: opacity var(--one-third-second), transform var(--one-third-second);
}

.enterDone {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.exit {
  transform: scale3d(1, 1, 1);
}

.exitActive {
  opacity: 0;
  transform: scale3d(3, 3, 3);
  transition: opacity var(--one-third-second), transform var(--one-third-second);
}

@media (min-width: 768px) {
  .container {
    left: inherit;
    padding-left: var(--spacer-double);
  }

  .list {
    text-align: left;
  }
}