.container {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-rows: auto var(--grid-item-size);
  grid-template-areas:
    "header"
    "content";
  z-index: 998;
  background: #000;
}

.header {
  grid-area: header;
  color: var(--light);
  text-align: right;
}

.content {
  grid-area: content;
  overflow: auto;
}

.enter {
  transform: translate3d(0, 100vh, 0);
}

.enterActive {
  transform: translate3d(0, 0, 0);
  transition: transform var(--one-third-second);
}

.enterDone {
  transform: translate3d(0, 0, 0);
}

.exit {
  transform: translate3d(0, 0, 0);
}

.exitActive {
  transform: translate3d(0, 100vh, 0);
  transition: transform var(--one-third-second);
}

@media (prefers-reduced-motion: reduce) {
  .enterActive,
  .exitActive {
    transition: unset;
  }
}
