.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 232px 57.6666666667px #ff00b7, -140px -286.3333333333px #00ffc8, -141px -132.3333333333px #ff00aa, 203px -41.3333333333px #73ff00, -190px -44.3333333333px #5eff00, 219px -144.3333333333px #ff0400, 238px -231.3333333333px #009dff, 173px -267.3333333333px #5900ff, -10px -263.3333333333px #00eaff, 191px 46.6666666667px #ff9900, 142px -249.3333333333px #7700ff, 1px -55.3333333333px #6aff00, 71px -11.3333333333px #ff2b00, 207px -137.3333333333px #0088ff, -217px -244.3333333333px #ffa200, 239px -16.3333333333px #00ffae, -1px -90.3333333333px #1100ff, -177px -55.3333333333px #ff1a00, -177px 64.6666666667px #3700ff, 149px -310.3333333333px #c4ff00, -170px -45.3333333333px #00ffee, -227px -109.3333333333px #95ff00, 151px -149.3333333333px #009dff, -224px -97.3333333333px #ff0077, -246px -166.3333333333px #ff8400, 2px 20.6666666667px #00d5ff, 33px -79.3333333333px #99ff00, 50px -300.3333333333px #5900ff, -161px -320.3333333333px deepskyblue, 129px -286.3333333333px #003cff, 204px -242.3333333333px #ffc400, 224px 56.6666666667px #22ff00, -17px -121.3333333333px #ff0073, -210px -0.3333333333px #00ffa6, -166px -62.3333333333px #33ff00, 189px -316.3333333333px #ffaa00, 82px -135.3333333333px #ffcc00, -19px -89.3333333333px #ff00e1, -69px -102.3333333333px #77ff00, -188px -195.3333333333px #001eff, -178px -268.3333333333px #ff3700, -195px -188.3333333333px #00a6ff, 79px -153.3333333333px #ff00ee, -95px -133.3333333333px #ff00d9, -29px 16.6666666667px #00d9ff, 174px -163.3333333333px #ff1a00, -190px -190.3333333333px #00eeff, 2px -19.3333333333px #e6ff00, 93px -13.3333333333px #00ffdd, 9px -191.3333333333px #00ff88, -142px -236.3333333333px #0088ff, 166px 32.6666666667px #00ff51, -142px -119.3333333333px #0062ff, -161px -240.3333333333px #d000ff, -249px -234.3333333333px #00ffcc, -8px -183.3333333333px #ff00a2, 159px 31.6666666667px #00ffd9, -231px 58.6666666667px #ff1e00, -90px -50.3333333333px #006aff, -81px -254.3333333333px #00ff09, -96px -120.3333333333px #0059ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 232px 57.6666666667px #ff00b7, -140px -286.3333333333px #00ffc8, -141px -132.3333333333px #ff00aa, 203px -41.3333333333px #73ff00, -190px -44.3333333333px #5eff00, 219px -144.3333333333px #ff0400, 238px -231.3333333333px #009dff, 173px -267.3333333333px #5900ff, -10px -263.3333333333px #00eaff, 191px 46.6666666667px #ff9900, 142px -249.3333333333px #7700ff, 1px -55.3333333333px #6aff00, 71px -11.3333333333px #ff2b00, 207px -137.3333333333px #0088ff, -217px -244.3333333333px #ffa200, 239px -16.3333333333px #00ffae, -1px -90.3333333333px #1100ff, -177px -55.3333333333px #ff1a00, -177px 64.6666666667px #3700ff, 149px -310.3333333333px #c4ff00, -170px -45.3333333333px #00ffee, -227px -109.3333333333px #95ff00, 151px -149.3333333333px #009dff, -224px -97.3333333333px #ff0077, -246px -166.3333333333px #ff8400, 2px 20.6666666667px #00d5ff, 33px -79.3333333333px #99ff00, 50px -300.3333333333px #5900ff, -161px -320.3333333333px deepskyblue, 129px -286.3333333333px #003cff, 204px -242.3333333333px #ffc400, 224px 56.6666666667px #22ff00, -17px -121.3333333333px #ff0073, -210px -0.3333333333px #00ffa6, -166px -62.3333333333px #33ff00, 189px -316.3333333333px #ffaa00, 82px -135.3333333333px #ffcc00, -19px -89.3333333333px #ff00e1, -69px -102.3333333333px #77ff00, -188px -195.3333333333px #001eff, -178px -268.3333333333px #ff3700, -195px -188.3333333333px #00a6ff, 79px -153.3333333333px #ff00ee, -95px -133.3333333333px #ff00d9, -29px 16.6666666667px #00d9ff, 174px -163.3333333333px #ff1a00, -190px -190.3333333333px #00eeff, 2px -19.3333333333px #e6ff00, 93px -13.3333333333px #00ffdd, 9px -191.3333333333px #00ff88, -142px -236.3333333333px #0088ff, 166px 32.6666666667px #00ff51, -142px -119.3333333333px #0062ff, -161px -240.3333333333px #d000ff, -249px -234.3333333333px #00ffcc, -8px -183.3333333333px #ff00a2, 159px 31.6666666667px #00ffd9, -231px 58.6666666667px #ff1e00, -90px -50.3333333333px #006aff, -81px -254.3333333333px #00ff09, -96px -120.3333333333px #0059ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 232px 57.6666666667px #ff00b7, -140px -286.3333333333px #00ffc8, -141px -132.3333333333px #ff00aa, 203px -41.3333333333px #73ff00, -190px -44.3333333333px #5eff00, 219px -144.3333333333px #ff0400, 238px -231.3333333333px #009dff, 173px -267.3333333333px #5900ff, -10px -263.3333333333px #00eaff, 191px 46.6666666667px #ff9900, 142px -249.3333333333px #7700ff, 1px -55.3333333333px #6aff00, 71px -11.3333333333px #ff2b00, 207px -137.3333333333px #0088ff, -217px -244.3333333333px #ffa200, 239px -16.3333333333px #00ffae, -1px -90.3333333333px #1100ff, -177px -55.3333333333px #ff1a00, -177px 64.6666666667px #3700ff, 149px -310.3333333333px #c4ff00, -170px -45.3333333333px #00ffee, -227px -109.3333333333px #95ff00, 151px -149.3333333333px #009dff, -224px -97.3333333333px #ff0077, -246px -166.3333333333px #ff8400, 2px 20.6666666667px #00d5ff, 33px -79.3333333333px #99ff00, 50px -300.3333333333px #5900ff, -161px -320.3333333333px deepskyblue, 129px -286.3333333333px #003cff, 204px -242.3333333333px #ffc400, 224px 56.6666666667px #22ff00, -17px -121.3333333333px #ff0073, -210px -0.3333333333px #00ffa6, -166px -62.3333333333px #33ff00, 189px -316.3333333333px #ffaa00, 82px -135.3333333333px #ffcc00, -19px -89.3333333333px #ff00e1, -69px -102.3333333333px #77ff00, -188px -195.3333333333px #001eff, -178px -268.3333333333px #ff3700, -195px -188.3333333333px #00a6ff, 79px -153.3333333333px #ff00ee, -95px -133.3333333333px #ff00d9, -29px 16.6666666667px #00d9ff, 174px -163.3333333333px #ff1a00, -190px -190.3333333333px #00eeff, 2px -19.3333333333px #e6ff00, 93px -13.3333333333px #00ffdd, 9px -191.3333333333px #00ff88, -142px -236.3333333333px #0088ff, 166px 32.6666666667px #00ff51, -142px -119.3333333333px #0062ff, -161px -240.3333333333px #d000ff, -249px -234.3333333333px #00ffcc, -8px -183.3333333333px #ff00a2, 159px 31.6666666667px #00ffd9, -231px 58.6666666667px #ff1e00, -90px -50.3333333333px #006aff, -81px -254.3333333333px #00ff09, -96px -120.3333333333px #0059ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 232px 57.6666666667px #ff00b7, -140px -286.3333333333px #00ffc8, -141px -132.3333333333px #ff00aa, 203px -41.3333333333px #73ff00, -190px -44.3333333333px #5eff00, 219px -144.3333333333px #ff0400, 238px -231.3333333333px #009dff, 173px -267.3333333333px #5900ff, -10px -263.3333333333px #00eaff, 191px 46.6666666667px #ff9900, 142px -249.3333333333px #7700ff, 1px -55.3333333333px #6aff00, 71px -11.3333333333px #ff2b00, 207px -137.3333333333px #0088ff, -217px -244.3333333333px #ffa200, 239px -16.3333333333px #00ffae, -1px -90.3333333333px #1100ff, -177px -55.3333333333px #ff1a00, -177px 64.6666666667px #3700ff, 149px -310.3333333333px #c4ff00, -170px -45.3333333333px #00ffee, -227px -109.3333333333px #95ff00, 151px -149.3333333333px #009dff, -224px -97.3333333333px #ff0077, -246px -166.3333333333px #ff8400, 2px 20.6666666667px #00d5ff, 33px -79.3333333333px #99ff00, 50px -300.3333333333px #5900ff, -161px -320.3333333333px deepskyblue, 129px -286.3333333333px #003cff, 204px -242.3333333333px #ffc400, 224px 56.6666666667px #22ff00, -17px -121.3333333333px #ff0073, -210px -0.3333333333px #00ffa6, -166px -62.3333333333px #33ff00, 189px -316.3333333333px #ffaa00, 82px -135.3333333333px #ffcc00, -19px -89.3333333333px #ff00e1, -69px -102.3333333333px #77ff00, -188px -195.3333333333px #001eff, -178px -268.3333333333px #ff3700, -195px -188.3333333333px #00a6ff, 79px -153.3333333333px #ff00ee, -95px -133.3333333333px #ff00d9, -29px 16.6666666667px #00d9ff, 174px -163.3333333333px #ff1a00, -190px -190.3333333333px #00eeff, 2px -19.3333333333px #e6ff00, 93px -13.3333333333px #00ffdd, 9px -191.3333333333px #00ff88, -142px -236.3333333333px #0088ff, 166px 32.6666666667px #00ff51, -142px -119.3333333333px #0062ff, -161px -240.3333333333px #d000ff, -249px -234.3333333333px #00ffcc, -8px -183.3333333333px #ff00a2, 159px 31.6666666667px #00ffd9, -231px 58.6666666667px #ff1e00, -90px -50.3333333333px #006aff, -81px -254.3333333333px #00ff09, -96px -120.3333333333px #0059ff;
  }
}
@keyframes bang {
  to {
    box-shadow: 232px 57.6666666667px #ff00b7, -140px -286.3333333333px #00ffc8, -141px -132.3333333333px #ff00aa, 203px -41.3333333333px #73ff00, -190px -44.3333333333px #5eff00, 219px -144.3333333333px #ff0400, 238px -231.3333333333px #009dff, 173px -267.3333333333px #5900ff, -10px -263.3333333333px #00eaff, 191px 46.6666666667px #ff9900, 142px -249.3333333333px #7700ff, 1px -55.3333333333px #6aff00, 71px -11.3333333333px #ff2b00, 207px -137.3333333333px #0088ff, -217px -244.3333333333px #ffa200, 239px -16.3333333333px #00ffae, -1px -90.3333333333px #1100ff, -177px -55.3333333333px #ff1a00, -177px 64.6666666667px #3700ff, 149px -310.3333333333px #c4ff00, -170px -45.3333333333px #00ffee, -227px -109.3333333333px #95ff00, 151px -149.3333333333px #009dff, -224px -97.3333333333px #ff0077, -246px -166.3333333333px #ff8400, 2px 20.6666666667px #00d5ff, 33px -79.3333333333px #99ff00, 50px -300.3333333333px #5900ff, -161px -320.3333333333px deepskyblue, 129px -286.3333333333px #003cff, 204px -242.3333333333px #ffc400, 224px 56.6666666667px #22ff00, -17px -121.3333333333px #ff0073, -210px -0.3333333333px #00ffa6, -166px -62.3333333333px #33ff00, 189px -316.3333333333px #ffaa00, 82px -135.3333333333px #ffcc00, -19px -89.3333333333px #ff00e1, -69px -102.3333333333px #77ff00, -188px -195.3333333333px #001eff, -178px -268.3333333333px #ff3700, -195px -188.3333333333px #00a6ff, 79px -153.3333333333px #ff00ee, -95px -133.3333333333px #ff00d9, -29px 16.6666666667px #00d9ff, 174px -163.3333333333px #ff1a00, -190px -190.3333333333px #00eeff, 2px -19.3333333333px #e6ff00, 93px -13.3333333333px #00ffdd, 9px -191.3333333333px #00ff88, -142px -236.3333333333px #0088ff, 166px 32.6666666667px #00ff51, -142px -119.3333333333px #0062ff, -161px -240.3333333333px #d000ff, -249px -234.3333333333px #00ffcc, -8px -183.3333333333px #ff00a2, 159px 31.6666666667px #00ffd9, -231px 58.6666666667px #ff1e00, -90px -50.3333333333px #006aff, -81px -254.3333333333px #00ff09, -96px -120.3333333333px #0059ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
