.container {
  display: grid;
  grid-template-columns: var(--grid-item-size) var(--grid-item-size);
  place-items: stretch;
  place-content: stretch;
  height: 100%;
}

.text {
  padding: 2rem;
  align-self: center;
  place-self: center;
}

.element {
  font-size: 6rem;
}

.image {
  background: url('/img/inmate.png') center no-repeat;
}
