.container {
  display: grid;
  grid-template-rows: auto var(--grid-item-size);
  place-items: stretch;
  place-content: stretch;
  gap: var(--measure);
  height: 100%;
}

.text {
  padding: var(--measure-double);
  place-self: center;
  text-align: center;
}

.element {
  font-size: var(--measure-double);
  margin-bottom: var(--measure-double);
}

.image {
  background-size: cover;
}

.inmate {
  background: url('/img/inmate.webp') center no-repeat;
}

.antiZ {
  background: url('/img/anti-z.svg') center no-repeat;
  background-size: contain;
  margin: 0 var(--measure) var(--measure-double);
}

@media (min-width: 768px) {
  .element {
    font-size: var(--measure-triple);
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-rows: none;
    grid-template-columns: var(--grid-item-size) var(--grid-item-size);
  }

  .text {
    text-align: left;
    order: 2;
  }

  .element {
    font-size: var(--measure-times-six);
  }
}
